
.sc-17sqlfs {
  text-decoration: none
}
.sc-ltams7 {
  font-size: 20px
}
.sc-75moi9 {
  color: tomato; font-family: var(--constants_font-1gy3dik)
}
.sc-kwa1wd {
  color: teal
}
.sc-9cty7a {
  font-size: 20px; undefined: var(--{ color: 'blue' }-10482w9)
}
.sc-hiraem {
  font-size: var(--props-size-70011v)
}
.sc-24mmt4 {
  color: tomato; font-family: sans-serif
}